@import '../../App/sass/vars'
.container
  display: flex
  align-items: center
  justify-content: space-between
  width: 600px
  padding: 5px 15px
  margin-bottom: 3px
  background-color: #dedede
  border-radius: 3px
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .5)
.opContainer
  display: flex
  align-items: center
  justify-content: space-between
  width: 90%
  cursor: pointer
  .fromTo
    width: 33%
    overflow: hidden
    white-space: nowrap
  .tag
    width: 33%
    margin: 0 auto
    overflow: hidden
    text-align: center
    white-space: nowrap
  .amount
    width: 33%
    margin: 0 auto
    overflow: hidden
    text-align: center
.delButton
  position: static
  width: 20px
  height: 20px
  font-size: inherit
  color: #f3f3f3
  text-align: center
  background-color: rgba(227, 2, 2, .5)
  border-radius: 10px
  box-sizing: border-box
@media screen and (max-width: $chartsBP)
  .container
    width: auto
